<div (click)="getApi()" style="width: 300px; heigth: 100px; color: #fff; background: #000;">APIGET</div>
<br><br>

<input type="checkbox" checked> API : {{ data | json }}<br>
<input type="checkbox"> Login / Bcrypt<br>
<input type="checkbox"> Cheerio<br>

<br><br>

<form (ngSubmit)="postLogin(loginData)">
  <input [(ngModel)]="loginData.email" name="loginEmail">
  <input [(ngModel)]="loginData.password" name="loginPassword">

  <input type="submit" value="Submit">
</form>


<br><br>
<!-- <div style="width: 300px; heigth: 100px; color: #fff; background: #000;">APIGET</div> -->

<h1 class="text-center">This is Home</h1>
<p>
  home works!
</p>
